<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Transit Labour : Events</title>
<link rel="stylesheet" href="/custom/css/reset.css" />
<link rel="stylesheet" href="/custom/css/text.css" />
<link rel="stylesheet" href="/custom/css/960.css" />
<link rel="stylesheet" href="/custom/css/default.css" />
<script src="/custom/js/autoclear.js" type="text/javascript"></script>
<style>

body {
background:url(/custom/img/transitlabour-background-brokenlines.gif);
}
.header {
background:url(/custom/img/transitlabour-background-shanghai.png) no-repeat;
}
.story_title {
padding-bottom:300px;
background:url(/custom/img/transitlabour-imagehero.gif);
}

<!--
Images for the page are defined here (e.g. the .story_title selector).
For the .story_title and .bottom .news images the padding dimensions 
are loaded here from the image height so that all of the image is 
displayed. Each story will require a unique div class so that the images 
can be different heights and still display correctly. 
-->

</style>

</head>
<body>

<!--
So that the css control is more granular and flexible 
please have the container_12 class have a class for 
the section (i.e. blogs) and for the page (i.e. whatever 
the blog post title is.).
-->

<div class="container_12 blogs">

 {% include 'transitlabourapp/menus.html' %}

<div class="grid_12 alpha content">
    
	<div class="grid_9 alpha left">

<!--
Each language should only be displayed if there are blog posts in that language.

		<div class="grid_3 alpha languages-header"><h1><a href="#" class="active">English</a> / <a href="#">普通話</a> / <a href="#">বাংলা</a></h1></div>
-->

	    <div class="grid_9 alpha omega page-title">
	    {% if not author_view %}
		    <h1 class="title">Events</h1><br />
	    {% else %}
		    <h1 class="title">{{bauthor.first_name}} {{bauthor.last_name}}'s Events</h1><br />
	    {% endif%}
	    </div>

	    <div class="grid_9 alpha omega blog">

<!--
The five latest events posts go here.
-->
	{% for event in events %}
		    <div class="grid_9 alpha omega title">
		    	<h1 class="title">{{event.header}}</h1><br />
		    	<h1 class="bloginfo"><span class="author">{{event.author.first_name}} {{event.author.last_name}}</span>
				<span class="date">Published: {{event.published_date|date:"F d, Y"}}</span>
			</h1>
			<br/>
		    	<h1 class="bloginfo"><span class="date">From: {{event.starting_date|date:"F d, Y"}}</span>
					     <span class="date">To: {{event.ending_date|date:"F d, Y"}}</span>

			</h1>

		    </div>
    
	    		<div class="grid_9 alpha omega teaser">
				<span class="pad">{{event.teaser_text|safe}}</span>
			</div>
			{% if event_view %}
			<div class="grid_9 alpha omega teaser">
					<span class="pad">{{event.body|safe}}</span>
			</div>  
			
			<br/>
				{% if user.is_authenticated %} 
					<div class="grid_3 omega"><a href="/admin/transitlabourapp/event/{{event.id}}">Edit Event</a></div>
				{% endif %}             
			{% else %}
			<a href="/events/{{event.slug}}"><div class="grid_9 alpha omega story_readmore"><span class="readmore">Read more</span></div></a>

			{% endif%}

	{% endfor %}
		<!-- end template -->
	</div>
		   
    </div>
	<!-- end .grid_9 left -->
     
    <div class="grid_3 omega right">
    
<!--
The 'value' ("Enter your search here") of the search should disappear when the user 
clicks to enter a search string. Unfortunately I don't 
have net so I could not add that javascript myself - Andy 
is it ok for you to add this in? normally I would add these 
little bits of jscript in myself, unless it was a larger site 
reliant on jscript.
-->
    
	<div class="grid_3 alpha omega search_block">
    	<form> <input name="search" type="text" value="Enter your search here" class="search_string"> </form>
    </div>
    
    <div class="grid_3 alpha omega search_submit_block">
        <input name="" type="submit" value="Search" class="search_submit"> 
	</div>
	<!-- end .grid_3 search_block -->
    
<!--
This is a list of the 15 latest blog posters. Each of 
these link to a page that only display the blogs made 
by that blogger. The template for that page should be 
the same as this page, but with the page title being "Blogs: Bloggers Name
-->


    <div class="grid_3 alpha list"><span class="pad">
	Transit Labour bloggers
	</span></div>
    
   {% for blogger in bloggers %}
   <a href="/blogs/author/{{blogger.username}}">
   <div class="grid_3 alpha blog">
   <span class="name">{{blogger.first_name}} {{blogger.last_name}}</span>
   </div>
   </a>
   {% endfor %}

    <a href="/blogs">
	<div class="grid_3 alpha omega all_bloggers"><div class="view_all">View all blog posts</div>
</div>
</a>

    
	</div>
	<!-- end .grid_3 search_block -->
    
	</div>

  <div class="clear"></div>
  	<br/>
	{% include 'transitlabourapp/footer.html' %}

  <div class="clear"></div>

    </div>
	<!-- end .container_12 home -->

</body>
</html>
