{% extends 'transitlabourapp/about.html' %}

{% block body %}
<body>

<!--
So that the css control is more granular and flexible 
please have the container_12 class have a class for 
the section (i.e. blogs) and for the page (i.e. whatever 
the blog post title is.).
-->

<div class="container_12 blogs">

 {% include 'transitlabourapp/menus.html' %}

<div class="grid_12 alpha content">
    
	<div class="grid_9 alpha left">

<!--
Each language should only be displayed if there are blog posts in that language.

		<div class="grid_3 alpha languages-header"><h1><a href="#" class="active">English</a> / <a href="#">普通話</a> / <a href="#">বাংলা</a></h1></div>
-->

	    {% if not author_view %}
	    <div class="grid_9 alpha omega page-title">
		    <h1 class="title">Events</h1>
	    </div>
	    {% else %}
	    <div class="grid_9 alpha omega page-title">
		    <h1 class="title">{{bauthor.first_name}} {{bauthor.last_name}}'s Events</h1>
	    </div>
	    {% endif%}

	    <div class="grid_9 alpha omega blog">

<!--
The five latest events posts go here.
-->
	{% for event in events.object_list %}
		    <div class="grid_9 alpha omega title">
		    	<h1 class="title">{{event.header}}</h1>
		    </div>
		    <div class="grid_9 alpha omega title">
		    	<h1 class="bloginfo"><span class="date">From: {{event.starting_date|date:"F d, Y"}}</span>
					     <span class="date">To: {{event.ending_date|date:"F d, Y"}}</span>
			</h1>
		    </div>
    
	    		<div class="grid_9 alpha omega teaser">
				<span class="pad">{{event.teaser_text|safe}}</span>
			</div>
			{% if event_view %}
			<div class="grid_9 alpha omega teaser">
					<span class="pad">{{event.body|safe}}</span>
			</div>  
			
			<br/>
				{% if user.is_authenticated %} 
					<div class="grid_3 omega"><a href="/admin/transitlabourapp/event/{{event.id}}">Edit Event</a></div>
				{% endif %}             
			{% else %}
			<a href="/events/{{event.slug}}"><div class="grid_9 alpha omega story_readmore"><span class="readmore">Read more</span></div></a>

			{% endif%}

	{% endfor %}
		<!-- end template -->
	</div>

<div class="grid_3 alpha">

{% if not showing_previous_events %}
 {% if events.has_next %}
    <a href="?page={{events.next_page_number}}">
	<div class="grid_3 alpha omega previous_posts"> <span class="pad">Later Events</span> </div>
    </a>
{% endif %}

 {% if events.has_previous %}
<a href="?page={{events.prev_page_number}}">
    <div class="grid_3 alpha omega previous_posts"> <span class="pad">Sooner Events</span> </div>
    </a> 
 {% endif %}
{% endif %}

{% if  showing_previous_events %}
 {% if events.has_next %}
    <a href="?page={{events.next_page_number}}&previous_events=y">
	<div class="grid_3 alpha omega previous_posts"> <span class="pad">Older Past Events</span> </div>
    </a>
{% endif %}

 {% if events.has_previous %}
<a href="?page={{events.prev_page_number}}&previous_events=y">
    <div class="grid_3 alpha omega previous_posts"> <span class="pad">Newer Past Events</span> </div>
    </a> 
 {% endif %}
{% endif %}



</div>

<div class="grid_3 omega">
{% if not event_view and past_events_available and not showing_previous_events%}   
<a href="?previous_events=y">
    <div class="grid_3 alpha omega previous_posts"> <span class="pad">Past Events</span> </div>
    </a> 
{% endif %} 

{% if not event_view and showing_previous_events %}   
<a href="?previous_events=n">
    <div class="grid_3 alpha omega previous_posts"> <span class="pad">Upcoming Events</span> </div>
    </a> 
{% endif %}
</div>

 
    </div>
	<!-- end .grid_9 left -->
     
    <div class="grid_3 omega right">
    
<!--
The 'value' ("Enter your search here") of the search should disappear when the user 
clicks to enter a search string. Unfortunately I don't 
have net so I could not add that javascript myself - Andy 
is it ok for you to add this in? normally I would add these 
little bits of jscript in myself, unless it was a larger site 
reliant on jscript.
-->
    
	<div class="grid_3 alpha omega search_block">
    	<form> <input name="search" type="text" value="Enter your search here" class="search_string"> </form>
    </div>
    
    <div class="grid_3 alpha omega search_submit_block">
        <input name="" type="submit" value="Search" class="search_submit"> 
	</div>
	<!-- end .grid_3 search_block -->
    
<!--
This is a list of the 15 latest blog posters. Each of 
these link to a page that only display the blogs made 
by that blogger. The template for that page should be 
the same as this page, but with the page title being "Blogs: Bloggers Name
-->


    <div class="grid_3 alpha list"><span class="pad">
	Transit Labour bloggers
	</span></div>
    
   {% for blogger in bloggers %}
   <a href="/blogs/author/{{blogger.username}}">
   <div class="grid_3 alpha blog">
   <span class="name">{{blogger.first_name}} {{blogger.last_name}}</span>
   </div>
   </a>
   {% endfor %}

    <a href="/blogs">
	<div class="grid_3 alpha omega all_bloggers"><div class="view_all">View all blog posts</div>
</div>
</a>

    
	</div>
	<!-- end .grid_3 search_block -->
    
	</div>

  <div class="clear"></div>
  	<br/>
	{% include 'transitlabourapp/footer.html' %}

  <div class="clear"></div>

    </div>
	<!-- end .container_12 home -->

</body>
</html>
{% endblock %}
