@charset "UTF-8";
/* CSS Document */
body {
	background : #fff;
	color:#2500f4;
	font:normal 12px Arial;
	margin-top : 40px; 
}
.clr { clear :both;}
.bluetxt{padding-bottom:15px;}
a { outline : none;  text-decoration : none;cursor:pointer;color:#2500f4}
a:hover{text-decoration : none;cursor:pointer;color:#FF0033; outline : none; }
p{	line-height:20px;}
.rights{text-align:right}
.rightp{text-align:right;padding-right:20px}
.fright{float:right;}
.topspace20{padding-top:40px;} 
.topspace10{padding-top:20px;}
.topspace100{padding-top:69px;}
.topspace8{padding-top:10px}
.topspace5{padding-top:5px;} 

.bot15{padding-bottom:15px;}
.bot20{padding-bottom:20px;}
.botspace15{padding-bottom:15px;}
.botspace50{padding-bottom:250px;}
.clrh{clear:both;height:0;}
.f20{font-size:25px;font-weight:bold}
.logo a:link,.logo a:visited,.logo a:active {
	font-size : 56px;
	text-decoration : none;
	color : #2500f4;
	outline : none;
	font-weight : bold;
	/*font-family : "Replica Pro",Arial;*/
	margin-bottom : 35px;
	display:block;
}
/*.logo a {font-family : "Replica Pro",Arial;}*/
.logo a b { display:block; font-size : 23px;} 
.active {border-bottom:#FF0033 11px solid;} 
.menu {
	border: 8px solid #2500f4;
	border-left : none;
	border-right : none;
	border-bottom:6px solid #fff;
	background:#2500f4;
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding-bottom:6px;
	padding-left : 16px;
	width:935px;
}
.menu a:link,.menu a:visited,.menu a:active{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	margin-bottom:1em;
	font-size : 24px;
}
.menu a:hover {
	color:#FFFFFF;
	border-bottom :11px solid #FF0033;
}
.menu a.active:hover {color:#FFFFFF;}   
#jsddm{  
	font-size:24px;
	color:#2500f4;
	font-weight:bold;  
	display:block; 
}
#jsddm li.number{font-size:56px;font-weight:bold;padding:23px 0 0 0;}
#jsddm li.select{font-size:25px;font-weight:bold;padding:50px 15px 0 5px;}	
#jsddm li{
	float:left;
	list-style-type:none;
	padding:0;margin:0; 
	display:block; 
	padding:50px 0 0 0; 
}
#jsddm li a{
	color:#2500f4;
	font-weight:bold;
	text-decoration:none;
	margin-bottom:1em;
	font-size : 24px;  
	margin:0 5px 0 10px;
	border-bottom:11px solid #ffffff;
	display:block;	
	white-space: nowrap;
	padding-bottom:5px;
}
#jsddm li a:hover{
	color:#ff0033; 
	border-bottom:11px solid #FF0033; 
	display:block;	 
}
#jsddm li a.active {color:#ff0033;border-bottom :11px solid #FF0033;} 
#jsddm li ul{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
	z-index:10000;
	background-color: #fff;
	height:500px;
	overflow-y:scroll;
	overflow-x:hidden;
}	
#jsddm li ul {
	border-bottom:11px solid #FF0033;
 	padding:0;margin:0; 
	background-color: #fff;
	margin:10px 0 0 0;
}	
#jsddm li ul li{
	float: none;padding:0; 
	line-height:18px;
	border-bottom:11px solid #fff; 	 
}
#jsddm li ul li a{
	width: auto;background: #fff;
	border-bottom:0px solid #FF0033; 
	margin:0 5px 0 10px;
	color:#2500f4;
}
#jsddm li ul li a:hover	{
	color:#FF0033;
	border-bottom:0px solid #FF0033;
	margin:0 5px 0 10px; 
} 
.global_menu li a:link,.global_menu li a:visited,.global_menu li a:active{
	color:#2500f4;
	font-weight:bold;
	text-decoration:none;
	margin-bottom:1em;
	font-size : 24px;  
	margin:0 5px 0 10px;
	border-bottom:11px solid #ffffff;
	display:block;	 
}
.global_menu li a:hover {
	color:#ff0033; 
	border-bottom:11px solid #FF0033;
	display:block;	 
}
.global_menu li a.active {color:#ff0033;border-bottom :11px solid #FF0033;}  
.global_menu span.size{font-size:50px;font-weight:bold;} 
.global_menu {	 
	border-left : none;
	border-right : none;	 
	font-size:24px;
	color:#2500f4;
	font-weight:bold;
	padding-bottom:0px;
	margin-top:20px; 
}
.global_menu a:link,.global_menu a:visited,.global_menu a:active{
	color:#2500f4;
	font-weight:bold;
	text-decoration:none;
	margin-bottom:1em;
	font-size : 24px; 
}
.global_menu a:hover {
	color:#ff0033;
	border-bottom :11px solid #FF0033;
}
.global_menu a.active {color:#ff0033;border-bottom :11px solid #FF0033;}  
.global_menu span.size{font-size:50px;font-weight:bold;} 
.date {
	background:#FFFF00;
	color:#0066FF;
	border-bottom:0px;
	font-size:16px;
	font-weight:bold;
	display:inline-block;
}
.right .date {
	background:#66CC00;
	border:8px solid #66CC00;
	color:#006600;
	border-bottom:0px solid;
	font-size:16px;
	font-weight:bold;
	display:inline-block;
} 
.arvtxt h1{
	color:#2500f4;
	display:inline-block; 
	font-size:56px;
	padding:0px;
	line-height:60px; 
	padding-bottom:20px;
}
h1 { 
	color:#2500f4;
	display:inline-block; 
	font-size:56px;
	padding:0px;/*
	line-height:18px;*/
	padding-top:40px;
} 
a .readmore  {
	color:#2500f4;
	text-decoration:none; 
	text-align:right;
	padding:10px 0 10px 0;
}
a .readmore:hover { 
	color:#ff0033;
	text-decoration:none;
	padding:10px 0 10px 0;
}   
.footer {margin-bottom:25px;padding-top:10px;} 
.contact h2 {  
	padding-top:5px; 
	display:block;
	font-size:12px;
	font-weight:bold; 
	padding-bottom:5px;
} 
.map_bg {
	background : transparent url(/custom/img/map.gif) no-repeat 0 0;
	width : 930px;
	height : 249px;
	clear : both;	
	padding-top:150px;
	padding-left : 10px;
	vertical-align : bottom;
	font-size : 50px;
	font-weight :bold;
	line-height:58px;
}
 
.coremembers h1{ 
	padding:0;
	margin:15px 0 10px 0px;
	font-weight:bold;
	font-size:12px;
	display:inline-block;
	clear:both;
}
.coremembers  ul{ margin:0 0 20px 3px;padding:0px;}
.coremembers ul li{padding:3px 0 0 0px;margin-left:10px} 
.coremembers li a{
	color:#2500f4;
	text-decoration:none;
	font-size:12px;
}
.coremembers li a:hover{color:#ff0033;text-decoration:none;}
.coremembers li:hover{color:#ff0033}
.coremembers div.padd{padding-top:10px;}

.right { margin-right : 0px; }

a.previoustxt  {
	color:#2500f4;
	text-decoration:none; 
	font-size:25px;
	border-bottom:11px solid #fff;  

}
a.previoustxt:hover { 
	color:#ff0033;
	font-size:25px;
	text-decoration:none; 
	border-bottom:11px solid #ff0033; 
}
.footer div.title{
	font-size:18px;
	padding:10px 0 10px 0;
}

.bottom ul{margin:0px;padding:0px;}
.bottom ul li{
	list-style-type:none;
	margin:0px;height:30px;
	line-height:30px;
}
.bottom ul li a{color:#2500f4;text-decoration:none; }
.bottom ul li a:hover{color:#ff0033;text-decoration:none; }
.bottom ul li.licio{background:url(/custom/img/icons.gif) no-repeat left 3px;}
.bottom ul li.digg{background:url(/custom/img/icons.gif) no-repeat 0px -25px;}
.bottom ul li.face{background:url(/custom/img/icons.gif) no-repeat left -53px;}
.bottom ul li.rati{background:url(/custom/img/icons.gif) no-repeat left -85px;}
.bottom ul li.twitter{background:url(/custom/img/icons.gif) no-repeat left -110px;}
.bottom ul li.share1{background:url(/custom/img/icons.gif) no-repeat left -140px;}
h3{border-bottom : 1px solid #FF0033;/*padding:5px 0 10px 0;*/}
h3,h3 a { 
	font-size : 25px; 
	padding-bottom : 10px;
	margin-bottom : 13px;
	text-decoration:none;
}
.newstitle{border-bottom : 1px solid #FF0033;padding:5px 0 10px 0; }
.newstitle a { 
	font-size : 25px; 
	padding-bottom : 10px;
	margin-bottom : 13px;
	text-decoration:none;
}
.f25{font-size : 25px;	}
.f56{font-size : 56px;width:42px;	}
h4,a.f25 { 
	font-size : 25px;	
	padding-bottom : 5px;	 
}
a.f25{color:#2500f4;border-bottom:11px solid #fff;}
a.f25:hover{
	color:#FF0033;
	border-bottom:11px solid #FF0033; 
}
.dot-line {
	border:0 #ff0033 dashed;
	border-top-width:1px;
	clear:both;
	height:0px;
}
.border {
	border:0 #ff0033 solid ;
	border-top-width:1px;
	clear:both;
	height:0px;
}
.border1 {
	border:0 #ff0033 solid ;
	border-top-width:35px;
	clear:both;
	height:0px;
	padding-bottom:10px;
}
.nolist { margin : 0px; padding :0px}
.nolist li { list-style-type: none; padding :8px 0 7px 0;margin :0px;}
.nolist li a{color:#2500f4;text-decoration:none; }
.nolist li a:hover{color:#ff0033;text-decoration:none; }

.inner_menu{padding:0 0 0px 0;margin:0;}
.inner_menu li{
	list-style-type:none;
	float:left;	 
	padding:0;margin:0;
	width:133px;	
	text-align:center; 
}
.inner_menu li a{color:#2500f4;text-decoration:none; text-align:center; }
.inner_menu li a:hover{	color:#ff0033;text-decoration:none;	 }
.inner_menu li .idu,.inner_menu li .idu:hover,.inner_menu li .syringe,.inner_menu li .syringe:hover,
.inner_menu li .opioid,.inner_menu li .opioid:hover,.inner_menu li .drug,.inner_menu li .drug:hover,
.inner_menu li .hiv,.inner_menu li .hiv:hover,.inner_menu li .antiretro,.inner_menu li .antiretro:hover,
.inner_menu li .condoms,.inner_menu li .condoms:hover{
	height:48px;	
	display:block;
	font-size:12px;	 
}
.inner_menu li a span p{padding-top:55px;line-height:15px;}
.inner_menu li .idu{background:url(/custom/img/menu_icon.gif) no-repeat 50px bottom;}
.inner_menu li .idu:hover{background:url(/custom/img/menu_icon.gif) no-repeat 50px top; }

.inner_menu li .syringe{background:url(/custom/img/menu_icon.gif) no-repeat -110px bottom;}
.inner_menu li .syringe:hover{background:url(/custom/img/menu_icon.gif) no-repeat -110px top;}

.inner_menu li .opioid{background:url(/custom/img/menu_icon.gif) no-repeat -250px bottom;}
.inner_menu li .opioid:hover{background:url(/custom/img/menu_icon.gif) no-repeat -250px top;}

.inner_menu li .drug{background:url(/custom/img/menu_icon.gif) no-repeat -390px bottom;}
.inner_menu li .drug:hover{background:url(/custom/img/menu_icon.gif) no-repeat -390px top;}

.inner_menu li .hiv{background:url(/custom/img/menu_icon.gif) no-repeat -515px bottom;}
.inner_menu li .hiv:hover{background:url(/custom/img/menu_icon.gif) no-repeat -515px top;}

.inner_menu li .antiretro{background:url(/custom/img/menu_icon.gif) no-repeat -655px bottom;}
.inner_menu li .antiretro:hover{background:url(/custom/img/menu_icon.gif) no-repeat -655px top;}

.inner_menu li .condoms{background:url(/custom/img/menu_icon.gif) no-repeat -790px bottom;}
.inner_menu li .condoms:hover{background:url(/custom/img/menu_icon.gif) no-repeat -790px top;}
 
.themetxt{padding:0;margin:10px 0 0 0;}
.themetxt li{padding-bottom:10px;line-height:18px;}

div.downarrow,.downarrow:hover{
	height:25px;
	display:inline-block;
}
div.downarrow{background:url(/custom/img/download.gif) no-repeat left top;}
div.downarrow:hover{background:url(/custom/img/download.gif) no-repeat left bottom;}
.coverimg{
	width:277px;
	height:391px;
	margin:140px 0 0 20px;
}
.coverimg h2{
	font-size:25px;
	color:#ff0033;
	padding:20px 0 0 17px;
}
.grid2txt{
	padding-right:10px;
	padding-top:20px;
	font-weight:bold;
}
.grid2right{	 
	padding-top:20px;
	font-weight:bold;
}
.fieldname{
	padding-right:10px; 
	font-weight:normal;
}
.formarv div.gwidth{
	width:302px;
	float:left; 
}
.formarv textarea{
	background-color:#2500f4;
	color:#bbb0fc;
	border:none;
	padding:10px 0 0 10px;	
	font-family:Arial,sans serif;
	font-size:12px;
	width:540px;
}
.redc{color:#ff0033;}

.formarv .input,.formarv .input1,.formarv .input2{
	background-color:#2500f4;
	color:#bbb0fc;
	border:none;
	padding:13px 0 13px 10px;	
	font-family:Arial,sans serif;
	font-size:12px;
}
.formarv .input{width:200px;}
.formarv .input1{width:310px;}
.formarv .input2{width:540px;}
.formarv .input3{width:310px;}
.formarv .input3{
	background-color:#2500f4;
	color:#fff;
	font-weight:bold;
	border:none;
	font-size:20px;
	padding:8px 0 8px 10px;	
}
.submit{
	background-color:#2500f4;
	color:#ad9ffb;
	font-weight:bold;
	border:none;
	font-size:25px;
	padding:6px;
	cursor:pointer;
}
.submit:hover{
	background-color:#ff0033;color:#fff;
}
.siteindex .indexsmenu a,.siteindex .indexsmenu a:hover,.siteindex .indexsmenu a.sels{
	font-size:12px;/*
	font-weight:bold;*/
	text-decoration:none;
}
.siteindex .indexsmenu a{color:#2500f4;}
.siteindex .indexsmenu a:hover,.indexsmenu a.sels{color:#ff0033;}
.siteindex .indexsmenu div.padd{padding:15px 0 15px 0;}

.siteindex a,.siteindex a:hover,.siteindex a.sel{
	font-size:25px;/*
	font-weight:bold;*/
	text-decoration:none;
}
.siteindex a{color:#2500f4;}
.siteindex a:hover,.siteindex a.sel{color:#ff0033;}
.siteindex div.padd{padding:10px 0 10px 0;} 

.state_inmenu{padding:0 0 0px 0;margin:0; clear:both;}
.state_inmenu li{
	list-style-type:none;
	float:left;	 
	padding:0;margin:0;  
	text-align:left;  
}
.state_inmenu li.number{font-size:56px;font-weight:bold;padding:23px 0 0 0;}
.state_inmenu li.select{font-size:25px;font-weight:bold;padding:50px 15px 0 5px;}
.state_inmenu li a{
	color:#2500f4;
	text-decoration:none;
	text-align:center; 
	 
}
.state_inmenu li a:hover{	color:#ff0033;text-decoration:none;	 }


.state_inmenu li .idu,.state_inmenu li .idu:hover,.state_inmenu li .syringe,.state_inmenu li .syringe:hover,
.state_inmenu li .opioid,.state_inmenu li .opioid:hover,.state_inmenu li .drug,.state_inmenu li .drug:hover,
.state_inmenu li .hiv,.state_inmenu li .hiv:hover,.state_inmenu li .antiretro,.state_inmenu li .antiretro:hover,
.state_inmenu li .condoms,.state_inmenu li .condoms:hover {
	height:50px;	
	display:block;
	font-size:12px;	 
	
}
.home .state_inmenu li .idu,.state_inmenu li .idu:hover,.home .state_inmenu li .syringe,.home .state_inmenu li .syringe:hover,
.home .state_inmenu li .opioid,.home .state_inmenu li .opioid:hover,.home .state_inmenu li .drug,.state_inmenu li .drug:hover,
.state_inmenu li .hiv,.state_inmenu li .hiv:hover,.state_inmenu li .antiretro,.state_inmenu li .antiretro:hover,
.home .state_inmenu li .condoms,.home .state_inmenu li .condoms:hover {
	display:block;
	font-size:12px;	 
	margin-bottom:-5px;
	
}
.state_inmenu li .condoms1,.state_inmenu li .condoms1:hover,
.state_inmenu li .contest,.state_inmenu li .contest:hover,
.state_inmenu li .detension,.state_inmenu li .detension:hover{
	height:50px;	
	display:block;
	font-size:12px;	  
} 
.state_inmenu li a span p{padding:55px 0 10px 0;line-height:15px;text-align:center; }
.state_inmenu li a span p:hover{border-bottom:11px solid #ff0033;}

.state_inmenu li .idu{background:url(/custom/img/menu_icon_s.gif) no-repeat 10px top;width:85px;	}
.state_inmenu li .idu:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat 10px bottom;width:85px;	 }

.state_inmenu li .syringe{background:url(/custom/img/menu_icon_s.gif) no-repeat -95px top;width:130px;	}
.state_inmenu li .syringe:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat -95px bottom;width:130px;	}

.state_inmenu li .opioid{background:url(/custom/img/menu_icon_s.gif) no-repeat -230px top;width:130px;	}
.state_inmenu li .opioid:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat -230px bottom;width:130px;	}

.state_inmenu li .drug{background:url(/custom/img/menu_icon_s.gif) no-repeat -370px top;width:110px;	}
.state_inmenu li .drug:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat -370px bottom;width:110px;	}

.state_inmenu li .hiv{background:url(/custom/img/menu_icon_s.gif) no-repeat -480px top;width:130px;	}
.state_inmenu li .hiv:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat -480px bottom;width:130px;	}

.state_inmenu li .antiretro{background:url(/custom/img/menu_icon_s.gif) no-repeat -615px top;width:110px;	}
.state_inmenu li .antiretro:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat -615px bottom;width:110px;	}

.state_inmenu li .condoms{background:url(/custom/img/menu_icon_s.gif) no-repeat -710px top;width:85px; }
.state_inmenu li .condoms:hover{background:url(/custom/img/menu_icon_s.gif) no-repeat -710px bottom;width:85px; }

.state_inmenu li .condoms1{background:url(/custom/img/menu_icon2.gif) no-repeat 10px top;width:90px; }
.state_inmenu li .condoms1:hover{background:url(/custom/img/menu_icon2.gif) no-repeat 10px bottom;width:90px; }

.state_inmenu li .detension{background:url(/custom/img/menu_icon2.gif) no-repeat -65px top;width:130px; }
.state_inmenu li .detension:hover{background:url(/custom/img/menu_icon2.gif) no-repeat -65px bottom;width:130px; }

.state_inmenu li .contest{background:url(/custom/img/menu_icon2.gif) no-repeat -178px top;width:120px; }
.state_inmenu li .contest:hover{background:url(/custom/img/menu_icon2.gif) no-repeat -178px bottom;width:120px; }


#IDU_and_HIV_Prevalence_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat 10px bottom;width:85px;	 }

#Needle_Syringe_Programs_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat -95px bottom;width:130px;	}

#Opioid_Substitution_Programs_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat -230px bottom;width:130px;	}

#Other_Drug_Treatment_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat -370px bottom;width:110px;	}

#HIV_Testing_and_Counselling_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat -480px bottom;width:130px;	}

#Antiretorvial_Therapy_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat -615px bottom;width:110px;	}

#Condoms_icon .selected{background:url(/custom/img/menu_icon_s.gif) no-repeat -710px bottom;width:85px; }

.state_inmenu li .selected{	color:#ff0033;text-decoration:none;	 }

.Listing ul li div.quesmark a{ 
	background-color:#2500f4;
	padding:5px;
	width:10px;
	color:#fff;
	float:left;
	margin:10px 10px 10px 0px;
}
.Listing ul li div.quesmark a:hover,.quesmark a.sel,.map a,.map a.sel{ background-color:#ff0033;}
.Listing ul li div.map a{
	background-color:#2500f4;
	padding:5px;
	text-align:center;
	width:30px;
	color:#fff;
	float:left;
	margin:10px 10px 10px 0px;
	color:#fff;
}
.Listing ul li div.map a:hover{background-color:#ff0033;}
.pink a,.pink1 a{
	background-color:#ff99ad;
	height:35px;
	padding:5px 8px 5px 8px;/*
	font-weight:bold;*/
	display:block;
	color:#2500f4;
}
.pink a{width:140px;}
.pink1 a{width:130px;}
.pink a:hover,.pink1 a:hover{color:#ff0033;}
.pink a.sel,.pink1 a.sel{
	color:#fff;background-color:#ff0033;
	height:35px;
	padding:5px 8px 5px 8px; 
	width:142px;
	display:block;font-weight:bold;}
 
pink a,.pink2 a{
	background-color:#ffffff;
	height:35px;
	padding:5px 8px 5px 8px;/*
	font-weight:bold;*/
	display:block;
	color:#2500f4;
}
.pink a{width:140px;}
.pink2 a{width:130px;}
.pink a:hover,.pink2 a:hover{color:#ff0033;}
.pink a.sel,.pink2 a.sel{
	color:#fff;background-color:#ff0033;
	height:35px;
	padding:5px 8px 5px 8px; 
	width:142px;
	display:block;font-weight:bold;}

.white{
	background-color:#ffffff;
	height:35px;
	padding:5px 8px 5px 8px;
	font-weight:bold;
	width:135px;
}

.Listing ul {padding:0;margin:0}
.Listing ul li{
	float:left;
	display: block;
	list-style-type:none;
	margin:0px;
}
.Listing ul li a{
	color:#2500f4;
	display: block;	
}
.Listing ul li.text{
	padding:10px 10px 0 0px;
	text-align:right; 
}
input.browseinput {
	height:35px;
	width: 300px;
	font:normal 12px Arial; 
	background-color:#2500f4;
	color:#565656;
	padding:2px 0 0 6px;
	margin-top:1px;
	border:none; 
}
div.fileinputs_photo ,input.browseinput,a.PhotoBrowse,.PhotoBrowse{	float:left;}
div.fileinputs_photo {position: relative;	z-index:1;}
del.fakefile_photo{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width:580px;	 
}
.file_photo {
	position: absolute;
	color:black;
	opacity:0;
	filter:alpha(opacity:0);
	z-index: 2;
	cursor:pointer;
	width:490px;	 
	margin:10px 0 0 0;
	padding:0px;
}

a.PhotoBrowse,.PhotoBrowse {
	background-color:#2500f4;
	height:32px;
	color:#fff;
	border:none;
	width:105px;
	cursor:pointer;
	display:block;
	padding:7px 0 0 0px;
	margin-top:1px;
	margin-left:17px;
	font-size:20px;
	font-weight:bold;
	text-align:center
}
a.PhotoBrowse:hover{background-color:#ff0033;}
del{text-decoration:none;}

/*  Country  Dropdown  */

#jscdm{  
	font-size:24px;
	color:#2500f4;
	font-weight:bold;  
	display:block; 	 
}  
#jscdm li{
	float:left;
	list-style-type:none;
	padding:0;margin:0; 
	display:block;  
	width:320px;
	height:40px;
	background-color: #2500f4;
 }
#jscdm li a{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	margin-bottom:1em;
	font-size : 24px;  
	margin:5px 5px 0 10px; 
	display:block;	
	white-space: nowrap;
	background-color: #2500f4;
}
#jscdm li a:hover{
	color:#ff0033;  
	display:block;	 
}
#jscdm li a.active {color:#ff0033;border-bottom :11px solid #FF0033;} 
#jscdm li ul{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
	z-index:10000;
	background-color: #fff;
}	
#jscdm li ul {
	border-bottom:11px solid #FF0033;
 	padding:0;margin:0; 
	background-color: #fff; 
}	
#jscdm li ul li{
	float: none;padding:0; 
	line-height:18px;
	border-bottom:11px solid #fff; 	
	padding:0px; 
	background-color: #fff;
	height:18px;
}
#jscdm li ul li a{
	width: auto;background: #fff;
	border-bottom:0px solid #FF0033; 
	margin:0 5px 0 10px;
	color:#2500f4;
}
#jscdm li ul li a:hover	{
	color:#FF0033;
	border-bottom:0px solid #FF0033;
	margin:0 5px 0 10px; 
} 

a.rpaddl{padding-right:20px;}
a.rpaddl:hover,a.rpaddlsel{padding-right:20px;color:#ff0033;}

a.rpaddr{padding:10px 10px 0 0;}
a.rpaddr:hover,a.rpaddrsel{padding:10px 10px 0 0;color:#ff0033;}

.document p{margin-bottom:20px;}
.bots{padding-bottom:4px;}

.border_map {
	border:0 #ff0033 solid ;
	border-top-width:1px;
	clear:both;
	height:0px;
	position:relative;
	top:-6px;
	width:950px;
}
.menu_border_bottom{
	 border-bottom:1px solid #ff0033;padding-bottom : 10px;
}

